.animated-circles {
}

.circle {
  width: 100px;

  transition: all 1s;
  animation: a-breathing 10s infinite forwards;

  &--1 {
    transform: scale(0.5);
  }
  &--2 {
    transform: scale(0.5);
  }
  &--3 {
    transform: scale(1);
  }
  &--4 {
  }
}

.circle-box {
  position: absolute;
  transform-origin: 0% 0%;
  transition: all 0.5s ease-out;

  &--1 {
    top: -3%;
    left: 10%;
  }
  &--2 {
    top: 6%;
    left: 90%;
  }
  &--3 {
    top: 80%;
    left: -3%;
  }
  &--4 {
    top: 90%;
    left: 75%;
  }
}
