.animated-circles {
}

.circle {
  width: 100px;

  transition: all 1s;
  animation: a-move 10s infinite forwards;
  width: 10vh;
  height: auto;

  &--1 {
    animation-delay: 1s;
  }
  &--2 {
    animation-delay: 0.3s;
  }
  &--3 {
    width: 14vh;
    animation-delay: 0.5s;
  }
  &--4 {
  }
}

.circle-box {
  position: absolute;
  transform-origin: 0% 0%;
  transition: all 1s ease-in-out;

  &--1 {
    top: -3%;
    left: 10%;
  }
  &--2 {
    top: 6%;
    left: 90%;
  }
  &--3 {
    top: 80%;
    left: -3%;
  }
  &--4 {
    top: 90%;
    left: 75%;
  }
}
