body {


  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.image {


  img {

  }

  span {

    display: block;
    font: {
      weight: 400;
      size: 0.8rem;
    }
  }
}
