.btn {
  border: 1px solid $c-grad-1;

  &.btn--animated {
    color: var(--t-alt);

    text-transform: uppercase;
    background: $c-grad-2;
    border: 1px solid $c-grad-1;
    border-radius: 3px;
    transition: all 0.3s ease 0s;

    &:hover {
      border-radius: 20px;
      border-color: $c-grad-comp;
      transition: all 0.3s ease 0s;
      @include shadow;
    }
  }
}
