.card {
  border-radius: 13px;
  overflow: hidden;
  max-width: 50rem;
  width: 90%;
  @include shadow;
}

.card-description {
  padding: 1rem;
}

.card-img-container {
  width: 100%;
  position: relative;

  &::after {
    width: 30px;
    content: url("../images/technology.svg");
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  & .card-technologies {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    left: 0;
  }
}

.card-technologies {
  background: linear-gradient(
    90deg,
    rgba(6, 150, 255, 1) 25%,
    rgba(78, 249, 254, 1) 100%
  );
}

.card-img {
  width: 100%;
}

h3.card-title {
  font-size: 1.9rem;
  margin-bottom: 0.2rem;
}

p.card-text {
}

.card-links {
}
