.card {
  border-radius: 13px;
  overflow: hidden;
  max-width: 280px;
  width: 100%;
  @include shadow;

  &-img__container {
    width: 100%;
    position: relative;
    max-height: 160px;
    overflow: hidden;
  }

  &__technologies {
    box-shadow: inset -5px -9px 28px 0px rgba(0, 0, 0, 0.58);
    transition: all 0.5s;
  }

  &__links {
    text-transform: uppercase;
  }
}
