:root {
  --t-alt: #ffffff;
  --t-default: black;
  --primary: #21aefc;
  --size-sm: 0.5rem;
  --size-md: 1rem;
  --size-bg: 2rem;
}

@mixin shadow {
  box-shadow: rgba(22, 29, 51, 0.145) 0px 0px 34px 0px;
}
